<widget id="com.audioplexity.match" version="0.0.1">
	<name>Match</name>
	<description>This is an app for pre-school level kids which includes fun games as learning exercises.</description>
	<author href="http://audioplexity.com" email="support@audioplexity.com">Kevin Sanchez</author>
	<content src="index.html"/>
	<access origin="*" />
</widget>