body {
    margin: 0px;
}

.drag {
    -ms-touch-action: none;
    touch-action: none;
}

#draggable, #draggable2 {
    float: left;
    border: 0px;
    position: fixed;
	cursor:none;
	background-color:Red;
    z-index: 3; 
}

#droppable {
    position: fixed;
    border: 5px dashed;
    float: left;
}